<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <img src="static/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" />
        <div class="field">
            <input type="text" id="searchterm" placeholder="Buscar productos, Marcas" /><br />
            <button type="button" id="search"><i class="fas fa-search"></i></button>
        </div>
        <h4 class="cuotas">
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de
            crédito
        </h4>
        <a class="cuerpo" href="#">Ofertas</a><br />
        <a class="cuerpo" href="#">Tiendas Oficiales</a><br />
        <a class="cuerpo" href="#">Vender</a><br />
        <a class="cuerpo" href="#">Ayuda</a><br /><br />
        <a class="cuerpo" href="#">Creá tu cuenta</a><i class="far fa-id-card"></i><br />
        <a class="cuerpo" href="#">Ingresá</a><i class="fas fa-sign-in-alt"></i><br />
        <a class="cuerpo" href="#">Mis compras</a><i class="fas fa-shopping-basket"></i><br />
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section>
            <h1 class="titulo">Basado en tu última visita</h1>
            <div class="articulos">
                <article>
                    <img class="imagenes" src="static/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" />
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </article>
                <article>
                    <img class="imagenes" src="static/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" />
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <h3>MacBook Pro 2019</h3>
                </article>
                <article>
                    <img class="imagenes" src="static/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" />
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <h3>Samsung Galaxy S10</h3>
                </article>
                <article>
                    <img class="imagenes" src="static/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" />
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <h3>SmartTv Samsung 43"</h3>
                </article>
            </div>
        </section>

        <section>
            <h1 class="titulo">Sección de Ofertas</h1>
            <article>
                <img class="imagenes" src="static/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" />
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img class="imagenes" src="static/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" />
                <p class="precios">$230.000</p>
                <p class="descuentos">20% OFF</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img class="imagenes" src="static/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" />
                <p class="precios">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img class="imagenes" src="static/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" />
                <p class="precios">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer">
            <div class="iconos">
                <i class="fas fa-credit-card"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="cuerpo">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
            <br />
            <div class="iconos">
                <i class="fas fa-gift"></i>
            </div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="cuerpo">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                miles de productos. Es un beneficio de Mercado Puntos.
            </p>
            <br />
            <div class="iconos">
                <i class="fas fa-user-shield"></i>
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p class="cuerpo">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer, porque estás siempre protegid@.
            </p>
            <br />
            <p class="cuerpo">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>