body{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
}

.cuerpo{
     font-size: 16px;
}
.titulo{
    font-size:24px;
}
.precios{
    font-size: 18px;
}
.cuotas{
    text-align:center; 
}

.descuentos{
    font-size: 16px;
}
.imagenes{
width: 98vw;
height: auto;
padding-right: 5px;
}
